{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
{% if user.emailaddress_set.all %}
<div class="container" style="max-width: 500px;">
  <div class="row justify-content-md-center mt-5">
    <div class="w-100 m-3">
      <div class="card bg-light mb-3 w-100">
        <h6 class="card-header">{% trans 'The following e-mail addresses are associated with your account:' %}</h6>
        <div class="card-body">
          <div class="m-auto text-center">

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder custom-checkbox">
      <label  for="email_radio_{{forloop.counter}}" class="">

      <input id="email_radio_{{forloop.counter}}" type="radio" class=""name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="text-success verified">{% trans "Verified" %}</span>
    {% else %}
    <span class="text-danger unverified">{% trans "Unverified" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction btn btn-outline-primary m-2" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="secondaryAction btn btn-outline-info m-2" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <button class="primaryAction btn btn-outline-danger m-2" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="w-100 m-3" style="max-width: 500px;">
      <div class="card bg-light mb-3 w-100" >
        <h6 class="card-header">{% trans "Add E-mail Address" %}</h6>
        <div class="card-body">
          <div class="m-auto text-center">
    
    <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-outline-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
