{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount
%} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}

<div class="container"></div>
<div class="row justify-content-md-center mt-5">
  <div class="col-md-auto">
    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <h5 class="card-header">ログイン</h5>
      <div class="card-body">
        <div class="m-auto text-center">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <div>
              <a
                class="button secondaryAction text-primary btn"
                href="{% url 'account_reset_password' %}"
                >{% trans "Forgot Password?" %}</a
              >
            </div>
            <button class="primaryAction btn btn-primary" type="submit">
              {% trans "Sign In" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
