{% extends "account/base.html" %} 
{% load i18n %}
 {% block head_title %} 
 {% trans　"Sign Out" %}
  {% endblock %} 
  {% block content %}
  <div class="container">
<div class="row justify-content-md-center mt-5">
  <div class="col-md-auto">
    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <h5 class="card-header">ログアウト</h5>
      <div class="card-body">
        <div class="m-auto text-center">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}" class="from">
          {% csrf_token %} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
            <button class="btn btn-outline-danger" type="submit">
              {% trans 'Sign Out' %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
</div>

{% endblock %}
