{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Set Password" %}{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <div class="card bg-light mb-3" style="max-width: 25rem;">
        <h5 class="card-header">{% trans "Set Password" %}</h5>
        <div class="card-body">
          <div class="m-auto text-center">
            <form
              method="POST"
              action="{% url 'account_set_password' %}"
              class="password_set"
            >
              {% csrf_token %} {{ form.as_p }}
              <input
                type="submit"
                name="action"
                value="{% trans 'Set Password' %}"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
