{% extends "account/base.html" %} {% load i18n %} {% block head_title %}
{% trans "Signup" %}{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <div class="card bg-light mb-3" style="max-width: 25rem;">
        <h5 class="card-header">{% trans "Sign Up" %}</h5>
        <div class="card-body">
          <div class="m-auto text-center"><p style="font-size: small;">
            アカウントをお持ちの方はこちらから<a href="{{ login_url }}">ログイン</a>できます。
          </p>
            <p style="font-size: small;">
              ※登録後に支援してほしいお店を登録できます。
            </p>
            <form
              class="signup"
              id="signup_form"
              method="post"
              action="{% url 'account_signup' %}"
            >
              {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
              <button class="btn btn-outline-info" type="submit">
                {% trans "Sign Up" %} &raquo;
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
