{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Sign Up Closed" %}{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <div class="card bg-light mb-3" style="max-width: 25rem;">
        <h5 class="card-header">{% trans "Sign Up Closed" %}</h5>
        <div class="card-body">
          <div class="m-auto text-center">
            <p>
              {% trans "We are sorry, but the sign up is currently closed." %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
