
.center-border {
  overflow: hidden;
  text-align: left;
}

.center-border:before {
  right: 0.5em;
  margin-left: 0%;
  background-color: #6c757d;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 3%;
}

.center-border:after {
  left: 0.5em;
  margin-right: -50%;
  background-color: #6c757d;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 97%;
}
