{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}
{% trans　"支援先を検索する" %}
{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'js/restaurant/search.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/social_icons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'fontawsome/css/font-awesome.min.css' %}" />
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="w-100 m-3" style="max-width: 500px;">
            <div class="card bg-light mb-3 w-100">
                <h5 class="card-header">支援先の検索</h5>
                <div class="card-body">
                    <div class="m-auto text-center">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input type="text" id="serchText" placeholder="新宿 居酒屋OO" />
                    <input type="hidden" id="nextPage" value=1 />
                    <input type="hidden" id="defaultImg" value="{% static 'img/default1.jpg' %}"/>
                    <select class="mt-3 form-control" id="serchPrefecture" >
                    <option selected value="">都道府県を絞る</option>
                        
                    </select>
                    <button class="mt-3 w-100 btn btn-outline-info" id="serch" type="button">
                        {% trans '検索' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="searchResult" class="mb-2">

</div>
<div  class="mb-5">
    <button style="display: none;" class="mt-3 w-100 btn btn-outline-success" id="getNextPage" type="button">
        <b>{% trans 'もっと見る' %}</b>
    </button>
</div>

<ul id="social-networking">
	<li class="twitter"><a href="#;"></a> </li>
	<li class="facebook"> <a href="#;"></a> </li>
	<li class="linkedin"> <a href="#;"></a> </li>
	<li class="picasa"> <a href="#;"></a> </li>
	<li class="love"> <a href="#;"></a> </li>
</ul>


{% endblock %}